a{
    text-decoration: none;
    margin: 0;
}
.News-principal-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}
.News-link-title{
    
}
.News-title{
    font-size: 2rem;
    text-align: center;
    color: #1E2E6E;
    background-color: white;
}
.News-link-title:hover{
    background-color: #1E2E6E;
    animation: step-start;
    transition: all 0.5s;
    transform: translateY(-10px);
}
.News-container{
    margin: auto;
    max-width: 1100px;
    margin-bottom: 2rem;
    /*align-items: center;
    justify-items: center;*/
    display: grid;
    align-items: top;
    gap: 1rem;
    grid-template-areas: 
    "big big medio"
    "big big smal";
}
.News-link-item{
    
}

a:first-of-type {
    grid-area: big;
}
a:second-of-type {
    grid-area: medio;
}
a:last-of-type{
    grid-area: smal;
}

.News-item{
    margin-bottom: -100px;
    display: flex;
    flex-direction: column;

    transform: translateY(100px);
    transition: all ease-in-out 1s;
    
}
.News-item--input{
    opacity: 1;
    transform: translateY(0);
    transition: all ease-in-out 1s;

}
.News-item-container-img{
    display: flex;
    max-width: 1000px;
    max-height: 700px;
    
    overflow: hidden;
    background: linear-gradient(#1E2E6E, #000000);    
    margin: 0;
}

.News-item-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 80%;
    
}
.News-item-img:hover{
    opacity: 35%;
    transition: all 0.5s;
}


.News-item-container-info{
    display: flex;
    flex-direction: column;
    gap: 1;
    position: relative;
    bottom: 4.8rem;
    max-width: 1000px;
    padding: 0.5rem;
}
.News-item-date{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    margin: 0;
}
.News-item-title{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    margin: 0;
}
.mod-size-date{
    font-size: 0.8rem;
}
.mod-size-title{
    font-size: 0.8rem;
}
.mod-position-info-big{
    bottom: 8rem;
}
.News-button{
    background-color: white;
    display: flex;
    width: 8rem;
    padding: 0.5rem 2rem;
    margin: auto;
    border-width: 0.2rem;
    border-color: #1E2E6E;
    border-style: solid;
    transition: all 0.5s;
    justify-content: center;

}
.news-link-button{
    color: #1E2E6E;
    z-index: 2;
}
.News-button:hover{
    background-color: #1E2E6E;
    
}
.News-button:hover > a{
    color: white;
    transition: all 0.5s;
}

@media (max-width:750px)
{
    .News-item-date{
        font-size: 0.5rem;
        text-decoration: none;
        color: white;
        margin: 0;
    }
    .News-item-title{
        font-size: 0.5rem;
        text-decoration: none;
        color: white;
        margin: 0;
    }
    .News-item-container-info{
        bottom: 3.1rem;
    }

    .News-item{
        max-width: 300px;
        min-height: 300px;
        justify-content: top;
        margin-bottom: -140px;
        
    }
    
    .news.News-link-item{
        display: flex;
    }

    .News-container{
        /*align-items: center;
        justify-items: center;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        gap: 2rem;
    }
    .News-item-container-img{
        height: 170px;
    }
    .news-link-button{
        font-size: 0.8rem;
    }
    
    
}
