a{
    text-decoration: none;
    margin: 0;
}
.News-principal-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}
.News-link-title{
    
}
.News-title{
    font-size: 2rem;
    text-align: center;
    color: #1E2E6E;
    
}
.News-container{
    margin: auto;
    max-width: 1100px;
    /*align-items: center;
    justify-items: center;*/
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "big big medio"
    "big big smal";
}
.News-link-item{

}

span:first-of-type {
    grid-area: big;
}
span:second-of-type {
    grid-area: medio;
}
span:last-of-type{
    grid-area: smal;
}

.News-item{
    margin-bottom: -142px;
    
}
.News-item-container-img{
    display: flex;
    max-width: 1000px;
    overflow: hidden;
    background: linear-gradient(#ffffff, #000000);    
    margin: 0;
}

.News-item-img{
    object-fit: cover;
    width: 100%;
    opacity: 80%;
}
.News-item-img:hover{
    opacity: 35%;
    transition: all 1s;
}

.News-item-container-info{
    display: flex;
    flex-direction: column;
    gap: 1;
    position: relative;
    bottom: 4.2rem;
    max-width: 1000px;
    padding: 0.5rem;
}
.News-item-date{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    margin: 0;
}
.News-item-title{
    font-size: 2rem;
    text-decoration: none;
    color: white;
    margin: 0;
}
.mod-size-date{
    font-size: 0.8rem;
}
.mod-size-title{
    font-size: 0.8rem;
}
.mod-position-info-big{
    bottom: 10rem;
}
.News-button{
    background-color: white;
    color: #1E2E6E;
    transition: all 1s;
    cursor: pointer;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    width: 8rem;
    border-color: #1E2E6E;

}
.News-button:hover{
    background-color: #1E2E6E;
    color: white;
}