.container-carousel-img{
    display: flex;
    height: 80vh;
    clip-path: inset(0); /*Quitar*/
    position: relative; /*q*/
    z-index: 0;
}
.carousel-img-style{
    filter:brightness(80%);
    width: 100%;
    position: fixed; /*q*/
    object-fit: cover;

}
.captions-title{
    text-shadow: 0.5px 1px 2px rgba(0,0,0,0.64); 
}
.captions-sub-title{
    text-shadow: 0.5px 1px 2px rgba(0,0,0,0.64); 
}

@media (max-width: 1400px){
    .container-carousel-img{
        clip-path: none; /*Quitar*/
        position: static; /*q*/
    }
    .carousel-img-style{
        position: relative; /*q*/
    }
}

@media (max-width: 650px){
    .container-carousel-img{
        height: 100vh;
    }
}


