.container-carousel-img{
    display: flex;
    height: 80vh;
    clip-path: inset(0); /*Quitar*/
    position: relative; /*q*/
    
    
}
.carousel-img-style{
    filter:brightness(80%);
    width: 100%;
    position: fixed; /*q*/
    object-fit: cover;

}

@media (max-width: 1100px){
    .container-carousel-img{
        clip-path: none; /*Quitar*/
        position: static; /*q*/
    }
    .carousel-img-style{
        position: relative; /*q*/
    }
}

