.Platforms{
    max-height: 500px;
}
.Platforms-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    max-width: 1100px;
    margin: 4rem auto;
    

}
.Platforms-item{
    box-shadow: -11px 10px 5px 1px rgba(0,0,0,0.43);
    -webkit-box-shadow: -11px 10px 5px 1px rgba(0,0,0,0.43);
    -moz-box-shadow: -11px 10px 5px 1px rgba(0,0,0,0.43);
    overflow: clip;
    max-width: 15rem;
    height: 5.4rem;
    border-radius: 10px;
    padding: 0.5rem;
    background: white;

    display: flex; 
    align-items: center;
    justify-items: center;
    

}
.Platforms-item:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.Platforms-item-link{
    
}
.Platforms-item-icon{
    width: 100%;
    object-fit: cover;
}

.Platforms-container-background{
    position: relative;
    bottom: 450px;
    display: flex;
    max-width: 1800px;
    min-height: 500px;
    z-index: -1;
    margin: auto;

}
.Platforms-background{
    width: 100%;
    object-fit: cover;
}
@media (max-width:784px)
{   
    .Platforms{
        max-height: 300px;
    }
    .Platforms-item{
        max-width: 7rem;
        height: 2.5rem;
    }
    .Platforms-container-background{
        max-width: 1800px;   
    }
}
@media (max-width:393px)
{  
    .Platforms{
        max-height: 400px;
    }
}